body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
}

.blog-post {
    max-width: 1000px;
    margin: 40px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 12fr 3fr;
}

.blog-post > * {
    grid-column: 2 / -2;
}

.blog-post figure {
    grid-column: 1 / -1;
}

.blog-post figure > img {
    width: 100%;
}
