body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    max-width: 600px;
    margin: 0px auto;
    background: #f5f5f5;
    padding: 2em;
}

p {
    cursor: pointer;
}

p.completed {
    text-decoration: line-through;
}
